@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="alert alert-danger"> 
    <h3> Ocurrio un Error durante la Transacción, porfavor verifique los siguientes datos</h3>
</div> 

<p>
    
</p>
