@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.k-grid {
    width: 95%;
}
.k-grid {
    font-size: 10px;
}
.k-grid td {
    line-height: 2.3em;
}
</style>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Manifiesto Imp.", "Index", "GuiasImport")
            </th>
            <th>
                @Html.ActionLink("Manifiesto Exp.", "Index", "GuiasExport")
            </th>
             <th>
                @Html.ActionLink("Manifiesto Courrier", "Index", "Courrier")
            </th>
        </tr>
    </thead>
</table>

<h2>Manifiestos Aereos</h2>

@(Html.Kendo().Grid<Manifiesto.Web.Areas.Aereo.Models.manifiestoEncViewModel>()
    .Name("ListaAereo")
    .Columns(columns =>
    {
        columns.Bound(p => p.id);
        columns.Bound(p => p.manifest);
        columns.Bound(p => p.id).Title("Action").Filterable(false).ClientTemplate(
        "<a href='" +
               Url.Action("Edit", "Manifiesto") +
               "/#= id #'" +
           ">Prev</a>"
       );
        columns.Bound(p => p.cuscar);
        columns.Bound(p => p.cuscardt).Format("N/A");
        columns.Bound(p => p.puerto_origen);
        columns.Bound(p => p.puerto_desembarque);
        columns.Bound(p => p.mtype);
        columns.Bound(p => p.mfunction);       
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .Pageable(pageable =>
                        {
                            pageable.Refresh(true);
                            pageable.PageSizes(true);
                        })
    .HtmlAttributes(new { style = "height:640px;" })
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model =>
        {
            model.Id(p => p.id);
        })
        .PageSize(20)
            .Read(read => read.Action("GetAll", "Manifiesto"))   
    )
)

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
