@{
    ViewBag.Title = "Index_Aereo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="container">
        <h1>Manifiestos Aereo</h1>
        <p>Sistema de creación de Manifiestos (Cuscar) para servicio Aereo </p>
        <p>
        <a class="btn btn-primary btn-lg" role="button">Learn more »</a>
        </p>
    </div>
</div>
