@model master_aimar.Entities.Entities.empresas
@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="container">
        <h1>Manifiestos - @Html.DisplayFor(a => a.nombre_empresa)</h1>
        <p>Sistema de creación de Manifiestos (Cuscar) para servicio Maritimo </p>
        <p>
        <a class="btn btn-primary btn-lg" role="button">Learn more »</a>
        </p>
    </div>
</div>
@*
<p>
Empresa Seleccionada:
</p>

<br />
<p>
<h3>@Html.DisplayFor(a => a.nombre_empresa)</h3>
<h3>@Html.DisplayFor(a => a.nombre_pais)</h3>
</p>
*@

